body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin: 5 auto;
}
div{
    width: 20%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
button{
    width: 100%;
    margin: 10px 0px 5px 0px;
    
}

#successMessageContainer {
    width: 50%;
        margin: auto;
        display: flex;
        flex-direction: column;
}